/* shared styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  list-style: none;
  color: #131313;
  border: none;
}

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 30px 150px;
}

.btn-primary {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  background: #ff900e;
  padding: 10px;
}

/* navbar styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
.nav-logo {
  font-size: 2rem;
  font-weight: 700;
}
nav a {
  color: var(--dark-02, #424242);
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 20px;
}

/* banner styles */
.banner-content {
  text-align: center;
  max-width: 80%;
  margin: 100px auto;
}
.banner-heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-description {
  color: #727272;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 25px;
}
.banner-img {
  width: 100%;
  margin-top: -60px;
}

/* main section styles */
.teams-container {
  padding: 5rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}
.img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
}

.teams-img {
  width: 250px;
}

.quick-text {
  color: var(--dark-03, #727272);
  font-size: 3rem;
  font-weight: 500;
}
.out-text {
  font-size: 3rem;
  font-weight: 700;
}
.features {
  color: #ff900e;
  font-size: 3rem;
  font-weight: 700;
}
.title-description {
  color: var(--dark-03, #727272);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 20px; /* 162.5% */
  margin: 20px 0;
}

/* facts section styles */
.facts-section {
  padding: 0 7rem;
}
.facts-heading {
  font-size: 3rem;
  font-weight: 700;
}
.facts-description {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  color: var(--dark-03, #727272);
}
.facts-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
  text-align: center;
}
.facts-card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  height: 200px;
  width: 200px;
}
.facts-stats {
  color: var(--dark-02, #424242);
  font-size: 2.8rem;
  font-weight: 600;
}
.facts-card img {
  margin-top: 40px;
}
.facts-title {
  font-size: 1rem;
  font-weight: 400;
}

/* sponsors section */
.sponsors {
  padding: 5rem 7rem;
}
.sponsors-container {
  text-align: center;
}
.sponsors-heading {
  font-size: 3rem;
  font-weight: 700;
}
.sponsors-description {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 1rem;
  color: #727272;
}
.sponsors-images {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.sponsors-images img {
  width: 100px;
}

/* features section styles */
.features-section {
  padding: 5rem 7rem;
}
.features-heading h3 {
  font-size: 2.5rem;
  font-weight: 700;
  border-left: 5px solid #ff900e;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
}
.features-heading p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #727272;
}
.features-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.features-card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 15px;
  margin-top: 20px;
}
.features-card h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.features-card p {
  color: var(--dark-03, #727272);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem; /* 162.5% */
}
.features-img img {
  height: 750px;
  width: 500px;
  margin-left: 50px;
}

.architects-info {
  border-radius: 5px;
  background: #ff900e;
  width: max-content;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 100px;
}
.architects-info h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
}
.architects-info p {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 40px;
}

/* foooter styles */
footer {
  padding: 5rem 10rem;
}
.footer-div {
  text-align: center;
  border-radius: 8px;
  background: #fff4e7;
  color: var(--dark-02, #424242);
  padding: 2rem;
}

/* media quaries styles */
/* mobile devices */
@media screen and (max-width: 576px) {
  nav,
  nav ul,
  .teams-container,
  .sponsors-images,
  .features-container {
    flex-direction: column;
  }
  header,
  footer,
  .teams-container,
  .facts-section,
  .sponsors,
  .features-section {
    padding: 20px;
    text-align: center;
  }
  .banner-heading {
    font-size: 3rem;
    margin-top: -40px;
  }
  .title-description,
  .banner-description,
  .facts-description {
    font-size: 1.2rem;
  }
  nav a {
    font-size: 1.2rem;
    line-height: 40px;
  }
  .img-container {
    grid-template-columns: 1fr;
  }
  .teams-img {
    width: 100%;
  }
  .facts-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    padding-left:1rem;
  }
  .sponsors-images img {
    width: 30%;
  }

  .features-img img {
    width: 400px;
    height: 500px;
    margin-left: 0;
  }
  .architects-info {
    position: relative;
  }
}
