/* shared styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  list-style: none;
  color: #131313;
  border: none;
}

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 30px 150px;
}

.btn-primary {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  background: #ff900e;
  padding: 10px;
}

/* navbar styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
.nav-logo {
  font-size: 2rem;
  font-weight: 700;
}
nav a {
  color: var(--dark-02, #424242);
  font-size: 1.1rem;
  font-weight: 500;
  margin-right: 20px;
}

/* banner styles */
.banner-content {
  text-align: center;
  max-width: 80%;
  margin: 100px auto;
}
.banner-heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-description {
  color: #727272;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 25px;
}
.banner-img {
  width: 100%;
  margin-top: -60px;
}

/* media quaries styles */
/* mobile devices */
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
  }
  header {
    padding: 20px;
  }
  .banner-heading {
    font-size: 2.2rem;
  }
  .banner-description {
    font-size: 0.8rem;
  }
  nav a {
    font-size: 0.9rem;
  }
}
